.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  color: #555;
}

.input {
  padding: 10px 12px;
  border-radius: 12px;
  background: #f8f8f8;
}

.btn {
  margin-top: 10px;
  background: linear-gradient(120deg, #1677ff, #5c9dff);
  color: white;
}
